.btn {
    height: 100px;
    width: 170px;
    border: 2px solid #312736;
    font-size: 40px;
    color:  #312736;
    margin: 10px 0;
    background-color: #d6abb1;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #d4838f;
}